.scroll-panel {
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: height linear 0.5s;
}

@media (min-width: 600px) {
  .scroll-panel {
  }
}
.scroll-panel.full-height {
  height: 100vh;
}
