body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.padding-12 {
  padding: 12px;
}
.padding-24 {
  padding: 24px;
}

.container-narrow {
  max-width: 500px;
  margin: 0 auto;
}

textarea {
  white-space: inherit;
  font-size: inherit;
}
