.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: violet;
  transition: transform linear 0.5s;
  padding: 4px 5px;
}
.controls.hide {
  transform: translateY(50px);
}
.controls.column {
  flex: 0 0 33.33%;
}
