.song {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin: 0;
  white-space: pre;
  max-width: 100%;
  transition: font-size 0.5s;
}
.song header {
  white-space: normal;
}
.song h3 {
  margin: 0;
}
.chord-row {
  color: violet;
  font-weight: bold;
}
